@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
}

body {
  background-color: #fbf7f5; /* warm off-white ground */
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.pink-gradient {
  background: #ff8ca0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff8ca0,
    #e35d76
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff8ca0,
    #e35d76
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.green-pink-gradient {
  background: #ff8ca0;
  background: linear-gradient(90.13deg, #ff8ca0 1.9%, #e35d76 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #ff8ca0 1.9%, #e35d76 97.5%);
}

.pink-text-gradient {
  background: #ff8ca0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ff8ca0,
    #e35d76
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ff8ca0,
    #e35d76
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-image: none;
}

.btn .original {
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn:hover .original {
  transform: translateY(100%);
}

.btn .letters {
  display: inline-flex;
}

.btn span {
  opacity: 0;
  transform: translateY(-15px);
  transition:
    transform 0.2s cubic-bezier(0.87, 0, 0.13, 1),
    opacity 0.2s;
}

.btn span:nth-child(2n) {
  transform: translateY(15px);
}

.btn:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.vertical-timeline::before {
  background: #dddddd;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes large-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.animate-large-marquee {
  animation: large-marquee 80s linear infinite;
}
